.Carousel {
  position: relative;
  touch-action: none;
}

.Carousel__railWrapper {
  overflow: hidden;
}

.Carousel__rail {
  display: grid;
  position: relative;
  transition: left 0.5s cubic-bezier(0.2, 1, 0.3, 1) 0s;
}

.Carousel__btn--prev,
.Carousel__btn--next {
  position: absolute;
  top: calc(50% - 6px);
  height: 10px;
  width: 10px;
  background: transparent;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  z-index: 10;
  cursor: pointer;
  font-size: 10px;
}

.Carousel__btn--prev {
  left: -15px;
  transform: rotate(-135deg);
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.Carousel__btn--next {
  right: -15px;
  transform: rotate(45deg);
  border-top: 1px solid white;
  border-right: 1px solid white;
}
